.prompt {
  color: red;
  background-color: white;
  margin-top: 4px;
}

.script {
  background-color: white;
  color: red;
  border: 0;
  width: 100%;
  overflow: hidden;
  outline: none;
  resize: none;
}


.result {
  background-color: white;
  color: navy;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  outline: none;
  resize: none;
}

.error {
  color: red;
  background-color: white;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

.closeButton {
  color: #66CC66;
  background-color: white;
  border: 1px solid;
  border-color: green green green green;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.motd {
  color: navy;
  background-color: white;
  width: 100%;
}

body {
  background-color: white;
  color: #66CC66;
  font-family: "Courier", monospace;
  font-size: 15px;
}

textarea {
  font-size: 15px;
}

table {
  margin-bottom: 0px;
}