importClassesFrom(stats4, mle)
importMethodsFrom(stats4, coef)

exportClasses("seq")
exportClasses("mle_ext")
exportMethods(setType, getSequence, findType)

exportClasses("NSBS")

exportClasses("Z")

exportMethods(setCountryName, setCountryTemp, "[", "[[", "[[<-", Arith, "/")
exportClasses(Country, City)


# GNU R does not throw an error if the S4 metadata symbol
# cannot be found. 
# There are a few CRAN packages where package authors have added 
# erroneous exportClasses() directives which are silently ignored by GNU R
# but would break in Renjin if we throw an error.
exportClasses(THIS_CLASS_DOES_NOT_EXIST)
