.classpath
.project
.vagrant
**/.Rhistory
**/.classpath
**/.project
target
**/target
**/build
.gradle
.settings
**/*~
**/*.iml
*~
*.iml
.idea
atlassian-ide-plugin.xml
*.o
*.so
*.gimple
.Rproj.user
out
cran
gcc-4.8
gcc-4.7
